* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffe9b3 #ffffff;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 30px;
  }
  
  *::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #ffe9b3;
    border-radius: 29px;
    border: 3px groove #ff0000;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body {
    font-family: "Lato", sans-serif;
    overflow: hidden;
  }